# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log

# Credentials
*.json
*.pem
*.key

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
tfplan
*.tfplan
*~
